@media(max-width: 800px) {
  header{
    display: none !important;
  }

  .head-img{
    display: none;
  }

  .head-img2{
    display: block !important;
    height: 20rem;
  }

  .side-follower-bar{
    display:none !important;
  }

  .card{
    max-width: 100% !important;
  }

  .post{
    margin: 0rem 0rem !important;
  }

  hr{
    display: none;
  }

  .profile-pic{
    width: 3rem !important;
  }

  .profile-name{
    font-size: 1rem;
  }

  .views{
    font-size: 1rem !important;
  }
}



@media(max-width: 546px) {
  header{
    display: none !important;
  }

  .head-img{
    display: none;
  }

  .head-img2{
    display: block !important;
    height: 20rem;
  }

  .side-follower-bar{
    display:none !important;
  }

  .card{
    max-width: 100% !important;
    border:none;
  }

  .post{
    padding-left: 0; /* Reset the left padding */
    padding-right: 0; /* Reset the right padding */
    margin-left: 0; /* Reset the left margin */
    margin-right: 0;
  }

  hr{
    display: none !important;
  }

  .card-img-top{
    height: 15rem;
  }
}


